*
!.gitignore
!.coveragerc
!.travis.yml
!Makefile
!LICENSE
!AUTHORS
!chopper/
!chopper/**
!docs/
!docs/*.rst
!docs/conf.py
!requirements.txt
!requirements-dev.txt
!requirements-docs.txt
!setup.py
__pycache__/
*.py[cod]
